body{
  
}
/*login*/

.login{
  margin-top: 70px;
  width: 100%;
}

.signin-btn { 
  border-radius: 0;
  margin-top: 10px;
  color: #fff;
  background-color: #2bcdc1; 
}
.title{
  text-align: center;
  padding: 10px 0;
  color: #000;
  margin-top: 45px;
  margin-bottom: 45px;
}

.tabia{
  margin-top: 20px;
  padding: 20px;
  border: #eee solid 3px;
  background: #fff;
  width: 60%;
}

.tabiya{
  margin: 20px 15px 15px 15px;
  padding: 20px;
  border: #eee solid 3px;
  background: #fff;
 /* width: 50%;*/

}

.gani{
  margin-right: 90px;
}
.crispy{
  color: #ccc;
  font-size: 18px;
}
.titular{
  color: #4b98a9;
}