*{
	margin: 0;
	padding: 0;
}

body{
	font-family: 'Open Sans', sans-serif;
	/*overflow: hidden;*/
	font-size: 16px;
  line-height: 1.5;
  /*background: #f2f2f2;*/
  margin: 0;
  padding: 0;
  background-image: -webkit-linear-gradient(left, #336666, #66cccc);
  background-image: -moz-linear-gradient(right, #336666, #66cccc);
  background-image: -ms-linear-gradient(right, #336666, #66cccc);
  background-image: -o-linear-gradient(right, #336666, #66cccc);
  background-image: linear-gradient(to right, #336666, #66cccc);
}

.nav-bar-wrapper {
    position: relative;
    z-index: 100;
    
}


.nav-bar {
    background: #000;
    height: 50px;
    -moz-box-shadow: 0 0 20px rgba(0,0,0,.7);
    -webkit-box-shadow: 0 0 20px rgba(0,0,0,.7);
    box-shadow: 0 0 20px rgba(0,0,0,.7);
    overflow: hidden;
    border-bottom: solid 1px #333;
}

#nav-logo {
    background-position: center -10px;
    background-size: 130px 130px;
    height: 120px;
    margin: 0 0 0 -65px;
    width: 130px;
}





/* -----------
      iMS-2
--------------*/

footer{
  
  left: 0;
  height: 100px;
/*  background-image: -webkit-linear-gradient(#d8d8d8, #f1f1f1);
  background-image: linear-gradient(#d8d8d8, #f1f1f1);*/
  background: lightgoldenrodyellow;
  

}

/* feed */

#feed {
  position: relative;
  width: 600px;
  margin: 0 ;
  display: table;
  float: left;
}
#feed .item {
  position: relative;
  width: 100%;
  margin: 75px auto;
  border-radius: 3px;
  background: #fff;
  overflow: hidden;
  box-shadow: 0 0 0 1px #e6e6e6;
}
#feed .item .header-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  clip: rect(0, auto, auto, 0);
}
#feed .item .header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  background: #fff;
  z-index: 1;
  box-shadow: 0 1px #e6e6e6;
}
#feed .item .header .avatar {
  cursor: pointer;
  float: left;
  width: 30px;
  height: 30px;
  margin: 10px;
  border-radius: 99em;
  background: #32a0f5;
}
#feed .item .header .username {
  cursor: pointer;
  float: left;
  width: 100px;
  height: 25px;
  margin: 14px 20px 20px 0;
  border-radius: 3px;
  /*background: #e6e6e6;*/
}
#feed .item .photo {
  position: relative;
  width: 500px;
  height: 400px;
  margin: 50px auto 0;
  /*background-image: -webkit-linear-gradient(#336666, #66cccc);
  background-image: -moz-linear-gradient(#336666, #66cccc);
  background-image: -ms-linear-gradient(#336666, #66cccc);
  background-image: -o-linear-gradient(#336666, #66cccc);
  background-image: linear-gradient(#336666, #66cccc);*/
}
#feed .item .content {
  position: relative;
  padding: 10px;
  display: table;
}
#feed .item .content .likes {
  cursor: pointer;
  width: 100px;
  height: 25px;
  margin-bottom: 10px;
  border-radius: 3px;
  background: #66cccc;
  text-align: center;
}
#feed .item .content .comments li {
  margin: 5px 0 0;
  display: block;
}
#feed .item .content .comments li .name {
  cursor: pointer;
  width: 85px;
  height: 25px;
  max-width: 100%;
  margin-right: 5px;
  border-radius: 3px;
  background: #66cccc;
  display: inline-block;
  text-align: center;
}
#feed .item .content .comments li .comment {
  width: 450px;
  height: 25px;
  max-width: 100%;
  border-radius: 3px;
  background: #e6e6e6;
  display: inline-block;
  padding-left: 10px;
}

