*{
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Open Sans', sans-serif;
/*  overflow: hidden;*/
  font-size: 16px;
  line-height: 1.5;
  background: lightgoldenrodyellow; 
  margin: 0;
  padding: 0;


    
}

.nav-bar-wrapper {
    position: relative;
    z-index: 100;
    
}


.nav-bar {
    background: #000;
    height: 50px;
    -moz-box-shadow: 0 0 20px rgba(0,0,0,.7);
    -webkit-box-shadow: 0 0 20px rgba(0,0,0,.7);
    box-shadow: 0 0 20px rgba(0,0,0,.7);
    overflow: hidden;
    border-bottom: solid 1px #333;
}

#nav-logo {
    background-position: center -10px;
    background-size: 130px 130px;
    height: 120px;
    margin: 0 0 0 -65px;
    width: 130px;
}


/*-- polygon --*/

p {
  margin: 0 0 10px 0;
}

.clip-svg {
  width: 0;
  height: 0;
}

.img-clip-block {
  font-family: 'Cuprum', sans-serif;
  margin: 20px 0;
}

.img-clip-row {
  text-align: center;
}

.img-clip-row:first-of-type .img-clip-wrap {
  background-position: top;
}

.img-clip-row:nth-of-type(2) .img-clip-wrap:nth-of-type(odd) {
  background-position: left;
}

.img-clip-row:nth-of-type(2) .img-clip-wrap:nth-of-type(even) {
  background-position: right;
}

.img-clip-row:last-of-type .img-clip-wrap {
  background-position: bottom;
}

.img-clip-wrap {
  width: 300px; 
  height: 300px; 
  background-image: url("../img/baemont.jpg"); 
  background-repeat: no-repeat;
  margin-left: auto;
  margin-right: auto;
  display: block;
  position: relative;
  -webkit-clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  clip-path: url("#clip-diamond-demo");
}

.overlay {
  background: rgba(171, 147, 116, 0.8);
  
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  pointer-events: none;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.overlay-content {
  color: rgba(255, 255, 255, 0.4);
  font-weight: 400;
  font-size: 180%;
  text-transform: uppercase;
  position: absolute;
  left: 50%;
  top: 50%;
  -ms-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  text-shadow: 1px 1px 2px rgba(0,0,0,0.1);
}

.img-clip-wrap:hover .overlay {
  -webkit-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
  background: none;
}

.img-clip-img {
  display: block;
}

@media only screen and (min-width: 650px) {
  .img-clip-row {
    margin-top: -154px;
  }

  .img-clip-row:first-of-type {
    margin-top: auto;
  }

  .img-clip-wrap {
    display: inline-block;
  }
}

.advert{
  height: 200px;
  background-image: -webkit-linear-gradient(top left,#336666, #66cccc);
  background-image: -moz-linear-gradient(top right, #336666, #66cccc);
  background-image: -ms-linear-gradient(top right, #336666, #66cccc);
  background-image: -o-linear-gradient(top right, #336666, #66cccc);
  background-image: linear-gradient(to top right, #336666, #66cccc);
}

.tropez{
  
  margin: auto;
}



.login {
  border-left: 1px solid #e4e4e4;
  border-right: 1px solid #e4e4e4;
  color: #949494;
  display: inline-block;
  font-size: 14px;
  line-height: 20px;
  padding: 10px 15px;
  text-decoration: none;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.loginbox label {
  float: left;
  width: 100%;
}

.loginbox label input{
  float: left;
  margin-right: 5px;
}

.loginbox label span {
  font-weight: normal;
}

.loginbox .signin-btn { 
  border-radius: 0;
  margin-top: 30px;
  color: #fff;
}
.signin-btn { 
  padding: 10px;
  width: 50%;
  margin-left: 25%;

}
.signin-btn:hover { 
  color: #000;
}
.footer-box {
  text-align: left;
  font-size: 15px;
}

.footer-box a:hover,
.footer-box a:focus{  
  text-decoration: none;
  outline: none;
}

#signup-content {
  display: none;
}

#signup-content {
  border-radius: 0;
}

#signup-content .modal-title {  
  font-size: 20px;
}

#signup-content .modal-title i{
  margin-right: 5px;
}

#signup-content .form-group input{
  height: 35px;
  border-radius: 0;
}

#signup-content .form-control:focus {  
  box-shadow: none;  
}

.signupbox span {
  display: inline-block;
  font-size: 15px;
  margin-bottom: 10px;
}

.signupbox span a:hover{
  text-decoration: none;
  outline: none;
}

.user{
  background: transparent;
  width: 100px;
  height: 80px;
  position: absolute;
  right: 30px;
  top: 30px;
  overflow: hidden;
  border: none;
  color: #000;
  outline: none;
  z-index: 100;
}